*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(123, 165, 201);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: burlywood;
    font-size: 8vmin;
    color: #b0413e;
    background-color: rgb(235, 207, 96);
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    margin: 15px;
    background-color: #3e3636;
    border-radius: 1rem;
    border: none;
}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    margin: 15px;
    background-color: #3e3636;
    border-radius: 1rem;
    border: none; 
}
#msg{
    color: blanchedalmond;
    font-size: 8vmin;
}
.msg-container{
    height: 30vmin;
}